<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    
      <h1>Enter your user name and password</h1>
  </br>	
      <div>
        <%= label_tag :name, 'User name:' %> </br>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div>
        <%= label_tag :password, 'Password:' %></br>	
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
     
            <p>
        <%= link_to "Forgot Password?", login_url, :class => "btn btn-link btn-xs" %>
      </p>
        <%= submit_tag "Login", :class =>"btn btn-default active" %>
  <% end %>

