<h1>Listing of Customer's Orders</h1>
</br>

<table class="table table-striped table-bordered ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>

      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.email %></td>
        <td><%= link_to 'Order Details', order, :class =>"btn btn-default active" %></td>
        <td><%= link_to 'Edit Client Info', edit_order_path(order), :class =>"btn btn-default active" %></td>
          <td><%= link_to 'Notification of Shipment', order, method: :ship, data: { confirm: 'Are you sure the order has been shipped?' }, :class =>"btn btn-default active " %></td>
        <td><%= link_to 'Delete Order', order, method: :delete, data: { confirm: 'Are you sure you want to delete this order?' }, :class =>"btn btn-danger active" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

