<h2>Order Details:</h2>
</br>
<table class="table table-bordered">
<tr>
  <td><strong>Name:</strong></td>
  <td><%= @order.name %></td>
</tr>

<tr>
  <td><strong>Country:</strong></td>
  <td><%= @order.country %></td>
</tr>

<tr>
  <td><strong>Province state:</strong></td>
  <td><%= @order.province_state %></td>
</tr>

<tr>
  <td><strong>City:</strong></td>
  <td><%= @order.city %></td>
</tr>

<tr>
  <td><strong>Postal code:</strong></td>
  <td><%= @order.postal_code %></td>
</tr>

<tr>
  <td><strong>Address1:</strong></td>
  <td><%= @order.address1 %></td>
</tr>

<tr>
  <td><strong>Address2:</strong></td>
  <td><%= @order.address2 %></td>
</tr>

<tr>
  <td><strong>Email:</strong></td>
  <td><%= @order.email %></td>
</tr>

<tr>
  <td><strong>Pay type:</strong></td>
 <td> <%= @order.pay_type %></td>
</tr>
</table>

<p>
  <strong>Order:</strong>
<table class="table table-condensed table-striped table-bordered">
  <thead>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
</thead>
<%= render @order.cart_items =%>
</table>

</p>

<%= link_to 'Edit', edit_order_path(@order), :class =>"btn btn-default active" %> |
<%= link_to 'Back', orders_path, :class =>"btn btn-default active" %>
</br>
</br>
</br>

