<h1><%= @category.title %></h1>


<div class=index>
<table>
	<% @category.products.in_groups_of(3, false).each do |group| %> 
<tr>
	 <% group.each do |product| %>
<td>
<%= image_tag(product.image_url, class: 'image') %>
<dl>
<dt><%= product.title %></dt>
<dd class="bold"><%= number_to_currency(product.price)%>
</br>
</br>
<%= button_to 'Add to Cart', cart_items_path(product_id: product), :class => "btn btn-primary" %>
</br>
<%= link_to "More Info", product_path(product), :class => "btn btn-default" %>	

</dd> 
</dl>
<%end%>
</td>
</tr>
<% end %>
</table>
</div>