<h1>Product Catalogue</h1>
<div class="seperate">

</div>
<div class="seperate">
<%= link_to 'Click here to add a new product', new_product_path %>

</div>
</br>
<% @products.each do |product| %>
  <div class="seperate">
       <p>
      <%= image_tag(product.image_url, class: 'image') %>
    </p>
     <p><span class = "category">Title:</span> 
      <%= product.title %></p>
  
 
        <p> <span class = "category"> Category:</span> 
      <%=product.category.title%>  
    
    </p>
    <p>
      <span class = "category"> Description: </span>
        <%= truncate(strip_tags(product.description), length: 80) %>
    </p>
<p><span class = "category">Price:</span> 
      <%= number_to_currency(product.price) %></p>
    <p>

    <p>
      <%= link_to 'More info', product %><br/>
      <%= link_to 'Edit', edit_product_path(product) %><br/>
      <%= link_to 'Delete', product, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
<br/>

