<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table>
  <tr>
    <td>
    <%= image_tag(@product.image_url , class: 'img-responsive img-thumbnail') %>
  </td>
  <td class="description">
    <dl>
      <dt><h1><%= @product.title %></h1></dt>
      <dd><h5><%= number_to_currency(@product.price) %></h5>
        <%= button_to 'Add to Cart', cart_items_path(product_id: @product)%>
      </br>
      <%= @product.description %>
    </dd>
    </dl>
  </td>
</tr>
</table>
</br>
</br>