<!DOCTYPE html>
<html>
<head>
  <title>The Art Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>



<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <%= link_to "The Art Store", store_url, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">

          <%= form_tag(store_path, :method => "get", id: "search-form") do %>
           <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <% end %>

      </form>
<% if session[:user_id] %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrative Tasks  <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Admin Home', admin_path %></li>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Product Catalogue', products_path %></li>
            <li><%= link_to 'Admin Accounts', users_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
<% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Shopping Cart (#{ pluralize(current_cart.cart_items.sum('quantity'), "Item") })", cart_path(current_cart) %></li>
       
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><%= link_to "Abstract",  category_path(1) %></li>
          <li><%= link_to "Photography", category_path(2) %></li>
          <li><%= link_to "Decorative Art", category_path(3) %></li>
          <li ><%= link_to "Landscape", category_path(4) %></li>
          <li><%= link_to "Fine Art", category_path(5) %></li>
          <li><%= link_to "Vintage", category_path(6) %></li>
          
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->
		<div class="container">
			<%= yield %>
		</div>
	</div>

</body>
</html>
